<form [formGroup]="form" (ngSubmit)="createUser()" class="form" enctype="multipart/form-data">
  <label class="label">
    Imię:
    <input type="text" formControlName="name" />
  </label>
  <label class="label">
    Nazwisko:
    <input type="text" formControlName="surname" />
  </label>
  <label class="label">
    Hasło:
    <input type="password" formControlName="password" />
  </label>
  <label class="label">
    Email:
    <input type="text" formControlName="email" />
  </label>
  <label class="label" style="width:30%">
    <input type="radio" formControlName="type" value="1"> Student
  </label>
  <label class="label" style="width:30%">
    <input type="radio" formControlName="type" value="0"> Nauczyciel
  </label>
  <input type="file" (change)="onFileSelected($event)" />
  <button type="submit">Wyślij</button>
</form>
