<h1>Karta przedmiotu</h1>
<div>
    <p>Nazwa: {{course.name}}</p>
    <p>Imie nauczyciela: {{course.teacher ? course.teacher.name : 'null'}}</p>
    <h2>Uczniowie</h2>
    <li *ngFor="let object of course.students">
        {{object.name}}  {{object.surname}}
        <p *ngFor="let obj of object.marks">{{obj}}</p>
    </li>
</div>
<h3>
    Dodaj ucznia
</h3>
<form *ngIf="users" (ngSubmit)="addStudentToCourse()">
    <div class="form-group">
      <label for="selectInput">Wybierz opcję:</label>
      <select class="form-control" id="selectInput" name="selectInput" [(ngModel)]="student.id">
        <option *ngFor="let item of users" [value]="item.id">{{ item.name + ' ' + item.surname}}</option>
      </select>
    </div>
    
    <!-- pozostałe pola formularza... -->
    
    <button type="submit" class="btn btn-primary">Wyślij</button>
  </form>